<!DOCTYPE html>
<html>
  <head>
    <title>Page not found</title>
    <link rel="stylesheet" href="public/main.css">
  </head>
<body class="page-not-found">
  <div>Go back to </div>
  <div class="topnav">
    <div class="header">Image Processing API</div>
    <a href="/">Home Page</a>
    <a href="/resize?w=400&h=400"> Resized images 400*400</a>
  </div>
</body>
</html>